@charset "utf-8";
/* CSS Document */
body {
    /*background-image: url("Dolce_Pattern.svg");
	background-color:transparent;
	background-position: center;
	background-repeat:no-repeat;
	background-size: 120% auto;
	background-attachment:scroll;*/
}

@font-face {
	font-family:titles;
	src: url("centgoth.ttf")
}


nav>ul>li>a {
	font-family:titles;
	font-size:0.7em;
	text-decoration:none;
	color: #3268E7;
}

nav>ul>li>ul>li>a {
	font-family:titles;
	font-size:0.75em;	
	text-decoration:none;
	color: #3268E7;
		
}


nav ul li{
	display:inline-table;
	width: 19%;
	list-style-type:none;
	text-align:center;
}

ul {
	list-style:none;
	padding-left: 0;
	text-align:center;

}

nav ul:not(nav>ul>li>ul>li>a) {
	padding: 0;
	list-style:none;
}

nav ul ul li {
	display: none;
	border:none;
	line-height:50px;

	
}

nav ul li:hover > ul li{
	display:block;
	list-style:none;
	background-color:rgba(0,0,0,0.8);
	
}

nav ul li:hover > ul {
	position: absolute;
	width: 100%;


}

nav>ul>li:hover > a{
	color: black;

}
nav ul ul li:hover > a {
	color: white;

}

#order_container {
	background-color: rgba(0,0,0,0.1);
	width: 90%;
	height: 100%;
	text-align: center;
	font-family: titles;
	vertical-align: middle;
	top: 0%;
	margin: 0 auto;
	padding: 2%;
}

#order_container>p {
	color: #3268e7;
	font-size: 2em;
		
}

#step_one, #step_two {
	background-color:rgba(0,0,0,0.3);
	padding: 2%;
	border-radius:5px;
	margin:2%;
}

td {
	font-size:0.7em;
	width:100%;
	margin:0 auto; 
}

nav img {
	max-width:100%;
	width: 60%;
	height: auto;
}

h3.product_selection {
	color: #3268e7;	
}

img.product_selection {
	width:80%;
	height:60%;
	
}

