	@charset "utf-8";
/* CSS Document */
body {
    /*background-image: url("Dolce_Pattern.svg");
	background-color:transparent;
	background-position: center;
	background-repeat:no-repeat;
	background-size: 120% auto;
	background-attachment:scroll;*/
}

@font-face {
	font-family:titles;
	src: url("centgoth.ttf")
}

nav>ul>li>a {
	font-family:titles;
	font-size:0.8em;
	text-decoration:none;
	color: #3268E7;
}

nav>ul>li>ul>li>a {
	font-family:titles;
	font-size:0.8em;	
	text-decoration:none;
	color: #3268E7;		
}


nav ul li{
	display:inline-table;
	width: 19%;
	list-style-type:none;
	text-align:center;
}

ul {
	list-style:none;
	padding-left: 0;
	text-align:center;
}

nav ul:not(nav>ul>li>ul>li>a) {
	padding: 0;
	list-style:none;
}

nav ul ul li {
	display: none;
	border:none;
	line-height:50px;	
}

nav ul li:hover > ul li{
	display:block;
	list-style:none;
	background-color:rgba(0,0,0,0.8);
	z-index: 2;	
}

nav ul li:hover > ul {
	position: absolute;
	width: 100%;
	z-index: 2;
}

nav>ul>li:hover > a{
	color: black;
}

nav ul ul li:hover > a {
	color: white;

}

.multiple-items img{
	width: 98%;
	height: auto;
	z-index:-1;	
}

.multiple-items {
	margin: 0 auto;
	width: 95%;
}


#order_container {
	background-color: rgba(0,0,0,0.1);
	width: 90%;
	height: 100%;
	text-align: center;
	font-family: titles;
	vertical-align: middle;
	top: 0%;
	margin: 0 auto;
	padding: 2%;
}


#order_container>p {
	color: #3268e7;
	font-size: 2em;		
}

#step_one, #step_two, #order_list {
	background-color:rgba(0,0,0,0.3);
	padding: 2%;
	border-radius:10px;
	margin:2%;
}

#step_two td, #details-form{
	background-color: rgba(255,255,255,0.3);
	border-radius: 10px;
	border: 1px solid #3268E7;
	padding: 3%;
}

td {
	font-size:0.7em;
	width:100%;
	margin:0 auto; 
}


h3.product_selection {
	color: #3268E7;	
}

img.product_selection {
	width:80%;
	height:60%;	
}

button {
	border-radius: 10px;
	background-color:#3268E7;
	color: white;
}

#order-table {
	width: 100%;
}
